[[tool.uv.index]]
url = "https://pypi.org/simple"
default = true

[tool.uv.workspace]
members = ["contact_lookup", "contact_multiple_surfaces", "orchestrator", "restaurant_finder", "rizzcharts", "flight_finder"]

[tool.uv.sources]
a2ui-agent = { path = "../../../a2a_agents/python/a2ui_agent", editable = true }

[tool.pyink]
unstable = true
target-version = []
pyink-indentation = 2
pyink-use-majority-quotes = true
pyink-annotation-pragmas = [
  "noqa",
  "pylint:",
  "type: ignore",
  "pytype:",
  "mypy:",
  "pyright:",
  "pyre-",
]

[dependency-groups]
dev = [
    "pyink>=24.10.0",
]
